.approveModalContainer {
  background: transparent linear-gradient(312deg, #090909 0%, #5a5a5a 100%) 0%
    0% no-repeat padding-box;
  border-radius: 10px;
  outline: none;
}

/* .overlayContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
  } */
/* @media only screen and (max-width: 768px) {
    .overlayContainer {
      left: 0;
    }
  } */
