.inputDate {
  width: 100%;
  max-width: 180px;
  height: 40px;
  background: #ffffff17;
  border: none;
  outline: none;
  color: #919191;
  border-radius: 5px;
  padding: 8px;
}

.inputDate::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}
/* .inputDate::-webkit-datetime-edit-ampm-field {
  display: none;
} */
