.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  opacity: 0;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  -webkit-text-fill-color: #e3e3e3;
  -webkit-box-shadow: transparent;
  transition: background-color 5000s ease-in-out 0s;
}
