.searchContainer {
  width: 100%;
  min-width: 400px;
  height: 30px;
  background: transparent linear-gradient(92deg, #ffffff4d 0%, #ffffff00 100%)
    0% 0% no-repeat padding-box;
  box-shadow: inset 10px 10px 10px #ffffff1a;
  border: 0.800000011920929px solid #ffffff;
  border-radius: 5px;
}
