@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
.authscreen {
  background-color: #2b2b2b;
  min-height: 100vh;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  &__bottom {
    width: 100%;
  }

  &__background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    &__shape {
      height: 200px;
      width: 200px;
      position: absolute;
      border-radius: 50%;

      &:first-child {
        background: linear-gradient(#1845ad, #23a2f6);
        left: -80px;
        top: -80px;
      }
      &:last-child {
        background: linear-gradient(to right, #ff512f, #f09819);
        right: -60px;
        bottom: -30px;
      }
    }
  }

  &__form {
    min-height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;

    * {
      color: #ffffff;
      letter-spacing: 0.5px;
      outline: none;
      border: none;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    }

    h3 {
      font-size: 32px;
      font-weight: 500;
      line-height: 42px;
      text-align: center;
      margin-top: 0;
      padding-top: 0;
    }

    .input__group {
      margin-top: 20px;
    }

    label {
      display: block;
      margin-top: 30px;
      font-size: 16px;
      font-weight: 500;
    }
    input {
      display: block;
      height: 50px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.07);
      border-radius: 3px;
      padding: 0 20px;
      margin-top: 8px;
      font-size: 14px;
      font-weight: 300;

      &::placeholder {
        color: #e5e5e5;
      }
    }

    button {
      margin-top: 50px;
      width: 100%;
      background-color: #ffffff;
      color: #080710;
      padding: 15px 0;
      font-size: 18px;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  &__or {
    font-size: 11px;
    font-weight: 400;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;

    span {
      margin-left: 10px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 600px) {
  .authscreen__form{
    max-width: calc(100% - 40px);
}
}
